<div class="bg-grey-1 pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">Application Security Testing as a Service</h2>
    <p class="mb4 mw7">Static application security testing (SAST), dynamic application security testing (DAST), interactive application security testing (IAST), and runtime application self-protection (RASP) on- premises and on demand.</p>


    <div class="tc">
      <a href="https://calendar.frontapp.com/l/JustinOoi/app-security-testing" class="btn raise">Schedule appointment</a>
    </div>
  </div>
</div>
