<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<!-- <div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }}

		</div> -->

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">CYBERAAS</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/managed-threat-response" class="link">Managed Threat Response</a></li>
					<li><a href="/mas-cyber-hygiene" class="link">MAS Cyber Hygiene</a></li>
					<li><a href="/data-protection-officer-as-a-service" class="link">Data Protection Officer as a Service</a></li>
					<li><a href="/ciso-as-a-service" class="link">CISO as a Service</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Company</h3>
				<ul class="mb3">
					<li>CYBERAAS PTE. LTD.</li>
					<li>7 Temasek Boulevard</li>
                    <li>#12-07 Suntec Tower One</li>
                    <li>Singapore 038987</li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
                    <li class="dib ph2 raise">
                    <a href="https://www.linkedin.com/company/cyberaas" class="link bg-white black db relative br-100 pa2" target="_blank">
                        <img src="/img/icons-linkedin.svg" width="24px" height="24px" class="db">
                    </a>
                    </li>
					<!-- {{ partial "social-icon" (dict "link" "https://www.linkedin.com/company/cyberaas" "svg" "icons-linkedin") }} -->
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }} -->
				</ul>
			</div>

		</div>
	</div>
    <div id="WAButton"></div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
<script type="text/javascript">
   $(function () {
           $('#WAButton').floatingWhatsApp({
               phone: '6591903434', //WhatsApp Business phone number
               headerTitle: 'Chat with us on WhatsApp!', //Popup Title
               popupMessage: 'Hello, how can we help you?', //Popup Message
               showPopup: true, //Enables popup display
               buttonImage: '<img src="/img/whatsapp.svg" />', //Button Image
               //headerColor: 'crimson', //Custom header color
               //backgroundColor: 'crimson', //Custom background button color
               position: "right" //Position: left | right

           });
       });
</script>  
