<head>

  <title>{{ .Title }} | {{ $.Site.Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="website">
	{{ if eq .URL "/managed-threat-response/" }}
    <meta property="og:title" content="Managed Threat Response Service | CYBERAAS">
    <meta property="og:description" content="Outsource your cybersecurity threats at $9.80 per PC monthly to our 24/7 team of security experts. No contract. We will proactively monitor for any malicious activities, remotely remediate the attack and report to you.">
    <meta name="description" content="Outsource your cybersecurity threats at $9.80 per PC monthly to our 24/7 team of security experts. No contract. We will proactively monitor for any malicious activities, remotely remediate the attack and report to you.">
    {{ else if eq .URL "/mas-cyber-hygiene/" }}
    <meta property="og:title" content="MAS Cyber Hygiene | CYBERAAS">
    <meta property="og:description" content="Comply to Monetary Authority of Singapore (MAS) Cyber Hygiene from $9,800 today! Proven and most cost-effective package in the market.">
    <meta name="description" content="Comply to Monetary Authority of Singapore (MAS) Cyber Hygiene from $9,800 today! Proven and most cost-effective package in the market.">
    {{ else if eq .URL “/data-protection-officer-as-a-service/” }}
    <meta property="og:title" content="Data Protection Officer as a Service | CYBERAAS">
    <meta property="og:description" content="Our DPO service is specifically designed for whose SME that require minimal compliance to PDPA but are unable to hire a DPO themselves, either due to business and financial constraints or the acute shortage of skilled executives.">
    <meta name="description" content="Our DPO service is specifically designed for whose SME that require minimal compliance to PDPA but are unable to hire a DPO themselves, either due to business and financial constraints or the acute shortage of skilled executives.">
    {{ else if eq .URL "/ciso-as-a-service" }}
    <meta property="og:title" content="CISO as a Service | CYBERAAS">
    <meta property="og:description" content="Our CISO service is uniquely crafted for those SME that require access to C-level experienced information security professionals but are unable to hire one themselves, either due to business and financial constraints or the acute shortage of skilled executives.">
    <meta name="description" content="Our CISO service is uniquely crafted for those SME that require access to C-level experienced information security professionals but are unable to hire one themselves, either due to business and financial constraints or the acute shortage of skilled executives.">
    {{ else }}
    <meta property="og:title" content="CYBERAAS | Cybersecurity as a Service for SME">
    <meta property="og:description" content="Priced for SME. MAS Cyber Hygiene. Data Protection Officer as a Service. CISO as a Service. Managed Threat Response. Cybersecurity Awareness Training. Application Security Testing.">
    <meta name="description" content="Priced for SME. MAS Cyber Hygiene. Data Protection Officer as a Service. CISO as a Service. Managed Threat Response. Cybersecurity Awareness Training. Application Security Testing.">
    {{ end }}
	<meta property="og:url" content="/">
    <meta name="image" property="og:image" content="/img/og-image.jpg">
	<meta property="og:image" content="/img/og-image.jpg">

  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
    <!--JQuery-->  
    <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>  
    <!--Floating WhatsApp css-->  
    <link rel="stylesheet" href="/css/floating-wpp.min.css">  
    <!--Floating WhatsApp javascript-->  
    <script type="text/javascript" src="/js/floating-wpp.min.js"></script>

</head>