<div class="bg-off-white pv4">
	<div class="ph3 mw7 center cms">
		<h2 class="f2 b lh-title mb2">{{.heading}}</h2>
		<p class="mb4 mw7">{{.description}}</p>
		<ol>
        <li>Proactively hunting for and validating potential cyber attacks in your network and computers
</li>
        <li>Remotely remediate the cyber attack once detected
</li>
        <li>Report to you What happened, How we remediate and How to prevent it from happening again</li>
        <li>Proactively improve your security posture and harden your defenses with prescriptive guidance for addressing configuration and architecture weaknesses that diminish your overall security capabilities</li>
        <li>Monthly Activity Reporting and Review
</li>
		</ol>
	</div>
</div>
