<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.png" alt="Cyberaas logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/managed-threat-response" class="pa3 no-underline db">Managed Threat Response</a></li>

		<li><a href="/mas-cyber-hygiene" class="pa3 no-underline db">MAS Cyber Hygiene</a></li>

		<li><a href="/data-protection-officer-as-a-service" class="pa3 no-underline db">DPO as a Service</a></li>

        <li><a href="/ciso-as-a-service" class="pa3 no-underline db">CISO as a Service</a></li>
	</ul>

</nav>
