<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">Virtual Data Protection Officer Service ("vDPO")</h2>
    <p class="mb4 mw7">DPO as a Service. Priced for SME. Our vDPO service helps your organization to put in place systems, policies, and processes to comply with the Personal Data Protection Act ("PDPA").</p>


    <div class="tc">
      <a href="/virtual-data-protection-officer-service.html" class="btn raise">More details</a>
    </div>
  </div>
</div>
