<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">Virtual Data Protection Officer Service ("vDPO")</h2>
    <p class="mb4 mw7">DPO as a Service. Our vDPO service is specifically designed for whose SME that require minimal compliance to PDPA but are unable to hire a DPO themselves, either due to business and financial constraints or the acute shortage of skilled executives.</p>


    <div class="tc">
      <a href="/virtual-data-protection-officer-service.html" class="btn raise">More details</a>
    </div>
  </div>
</div>
