{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "vciso" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw7 ph3 mb3 cms">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>Our CISO service brings cybersecurity and information security experience in leadership and skills to help define, plan and execute a bespoke strategy unique to SME.</p>
    <ol>
        <li>Significant Cost Savings. Most SME don't require or can't fully utilize a full-time CISO.</li>
        <li>Vendor Neutral Advice. Always act in your best interest.</li>
        <li>Compliance and Governance Rep. Manage and communicate with regulators and internal stakeholders for all data privacy and information security requests.</li>
    </ol>
  </div>

  <div class="ph3 mw7 center cms" style="margin-top: 3rem;">
    <h2 class="f3 b lh-title mb2">Our Principal Advisors</h2>
    <br>
    <div class="flex-ns mhn2-ns mb3">
      
      <div class="ph2-ns w-50-ns">
        <img src="/img/cyberaas-tkh.png" alt="" class="center db mb3" style="width: 240px">
        <p style="font-weight: bold;">Dr. Tan Kian Hua, Principal Advisor</p>
        <ul>
            <li>Adjunct Professor of LIGS University, Cybersecurity</li>
            <li>CISM (Certified Information Security Manager)</li>
            <li>CISA (Certified Information System Auditor)</li>
            <li>CDPSE (Certified Data Privacy Solution Engineer)</li>
            <li>CEH (Certified Ethical Hacker)</li>
        </ul>
      </div>
      
      <div class="ph2-ns w-50-ns">
        <img src="/img/cyberaas-kk.jpeg" alt="" class="center db mb3" style="width: 240px">
        <p style="font-weight: bold;">Keith Kwan, Principal Advisor</p>
        <ul>
            <li>Renowned Cybersecurity Leader with more than 2 decades of information security experience</li>
            <li>CISSP-ISSAP (Information Systems Security Architecture Professional)</li>
            <li>CISSP (Certified Information Systems Security Professional)</li>
            <li>CISA (Certified Information System Auditor)</li>
            <li>CEH (Certified Ethical Hacker)</li>
            <li>CCFS (Certified Computer Forensics Specialist)</li>
        </ul>
      </div>
      
    </div>
  </div>

  <div class="tc">
      <a href="https://calendar.frontapp.com/l/JustinOoi/virtual-ciso-web" class="btn raise" target="_blank">Schedule Zoom meeting</a>
    </div>
</div>
</div>

{{ end }}

{{ partial "table" .Params.pricing }}

{{ end }}
