{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "vdpo-page" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw7 ph3 mb3 cms">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>We all know that SMEs are unable to justify the hiring of a full-time DPO, either due to business and financial constraints. Appointing an unqualified person as DPO puts the company and appointed individual at high risk; any data incident or complaint raised to PDPC would lead to a regulatory issue and financial penalty.</p>
    <p>Our DPO as a Service helps your organization to put in place systems, policies, and processes to comply with the PDPA.</p>
    <ol>
        <li>Priced for SME.</li>
        <li>DPO Appointment. Our data protection and PDPA expert register as your organization DPO with ACRA officially.</li>
        <li>Perform Inventory & Data Protection Impact Assessment ("DPIA").</li>
        <li>Develop and implement Data Protection Management Programme ("DPMP").</li>
        <li>Point of contact for relevant personal data inquiries or complaints internally within your organization and externally with the Personal Data Protection Commission (“PDPC”) or the public.</li>
    </ol>
  </div>

  <div class="ph3 mw7 center">
    <h2 class="f3 b lh-title mb2">Our Principal Advisors</h2>

    <div class="flex-ns mhn2-ns mb3">
      
      <div class="ph2-ns w-50-ns">
        <img src="/img/cyberaas-tkh.png" alt="" class="center db mb3" style="width: 240px">
        <p>Dr. Tan Kian Hua, Principal Advisor</p>
        <ul>
            <li>Adjunct Professor of LIGS University, Cybersecurity</li>
            <li>CISM (Certified Information Security Manager)</li>
            <li>CISA (Certified Information System Auditor)</li>
            <li>CDPSE (Certified Data Privacy Solution Engineer)</li>
            <li>CEH (Certified Ethical Hacker)</li>
        </ul>
      </div>
      
      <div class="ph2-ns w-50-ns">
        <img src="/img/cyberaas-kk.jpeg" alt="" class="center db mb3" style="width: 240px">
        <p>Keith Kwan, Principal Advisor</p>
        <ul>
            <li>Renowned Cybersecurity Leader with more than 2 decades of information security experience</li>
            <li>CISSP-ISSAP (Information Systems Security Architecture Professional)</li>
            <li>CISSP (Certified Information Systems Security Professional)</li>
            <li>CISA (Certified Information System Auditor)</li>
            <li>CEH (Certified Ethical Hacker)</li>
            <li>CCFS (Certified Computer Forensics Specialist)</li>
        </ul>
      </div>
      
    </div>
  </div>

  
  <div class="tc">
      <a href="https://calendar.frontapp.com/l/JustinOoi/virtual-dpo-web" class="btn raise" target="_blank">Schedule Zoom meeting</a>
    </div>
</div>

{{ end }}

{{ partial "table" .Params.pricing }}

{{ end }}
