{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "mtr" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw7 ph3 mb3 cms">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
    <ol>
        <li>Priced for SME, any organisation can afford regardless of size.</li>
        <li>Peace of mind, you know a team of experts is taking care of your back.</li>
        <li>Save your time and sanity from having to go through a cyber attack (again?) and "going to court" explaining to the PDPC.</li>
    </ol>
  </div>
  <div class="tc">
      <a href="mailto:contact@cyberaas.io" class="btn raise" target="_blank">Contact Us</a>
    </div>
</div>

{{ end }}

<!-- <div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<img src="{{ .Params.full_image }}" alt="" class="db w-100"> -->

{{ partial "table" .Params.pricing }}

{{ end }}
