{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "mas-ch" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw7 ph3 mb3 cms">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <ol>
        <li>Administrative Accounts</li>
        <li>Multi-factor Authentication</li>
        <li>Security Patches and Standards</li>
        <li>Network Perimeter Defense</li>
        <li>Malware Protection & Response</li>
    </ol>
  </div>
  <div class="tc">
      <a href="mailto:contact@cyberaas.io" class="btn raise" target="_blank">Contact Us</a>
    </div>
</div>

{{ end }}

{{ partial "table" .Params.pricing }}

{{ end }}
