{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "vciso" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw7 ph3 mb3 cms">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>Our vCISO service brings cybersecurity and information security experience in leadership and skills to help define, plan and execute a bespoke strategy unique to SME.</p>
    <ol>
        <li>Significant Cost Savings. Most SME don't require or can't fully utilize a full-time CISO.</li>
        <li>Vendor Neutral Advice. Always act in your best interest.</li>
        <li>Compliance and Governance Rep. Manage and communicate with regulators and internal stakeholders for all data privacy and information security requests.</li>
    </ol>
  </div>
  <div class="tc">
      <a href="https://calendar.frontapp.com/l/JustinOoi/virtual-ciso-web" class="btn raise" target="_blank">Schedule Zoom meeting</a>
    </div>
</div>
</div>

{{ end }}

{{ partial "table" .Params.pricing }}

{{ end }}
