{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "managed-threat-response" .Params }}

{{ partial "mas-cyber-hygiene" .Params }}

{{ partial "vdpo" .Params }}

{{ partial "virtual-ciso-service" .Params }}

{{ partial "cyber-awareness-training" .Params }}

{{ partial "application-security-testing" .Params }}

<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }} -->

{{ end }}
